{% extends "sproutlists/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Edit List"|t %}

{% set fullPageForm = true %}

{% block saveButton %}
	<div class="btngroup submit first">
		<input type="submit" class="btn submit" value="{{ 'Save List'|t }}">
	</div>
{% endblock %}

{% set saveShortcutRedirect = continueEditingUrl %}

{% block main %}

<div class="grid">
	<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
		<div class="pane">
			<input type="hidden" name="action" value="sproutLists/lists/saveList">
			<input type="hidden" name="redirect" value="sproutlists/lists">
			<input type="hidden" name="list[id]" value="{{ listId }}">

			{{ forms.textField({
				label: "List Name"|t,
				instructions: "The name of your list that will be visible to users."|t,
				id: 'name',
				name: 'list[name]',
				value: (list is defined ? list.name : null),
				autofocus: true,
				required: true,
				first: true,
				errors: (list is defined ? list.getErrors('name') : null)
			}) }}

			{{ forms.textField({
				label: "List Handle"|t,
				instructions: "How you’ll refer to this list in your templates."|t,
				id: 'handle',
				name: 'list[handle]',
				value: (list is defined ? list.handle : null),
				required: true,
				errors: (list is defined ? list.getErrors('handle') : null)
			}) }}


		</div>
	</div>
</div>

{% endblock %}

{% if not list.handle %}
	{% includejs %}
		new Craft.HandleGenerator('#name', '#handle');
	{% endincludejs %}
{% endif %}
