{% extends "sproutlists/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Lists"|t %}

{% set lists = craft.sproutLists.getAllLists() %}

{% set content %}

	{% if lists|length %}

		{% for list in lists %}
			{% if loop.first %}

				<table id="lists" class="data fullwidth">
				<thead>
				<th width="20%">{{ "Name"|t }}</th>
				<th width="20%">{{ "Handle"|t }}</th>

				{% for listType in craft.sproutLists.getAllListTypes() %}
					<th width="10%">{{ "Total List"|t }} {{ listType.getName()  }}</th>
				{% endfor %}
				<th class="thin"></th>
				</thead>
			{% endif %}
			<tr data-id="{{ list.id }}" data-name="{{ list.name }}">
				<td>
					<a href="{{ url('sproutlists/lists/edit/' ~ list.id ) }}">{{ list.name }}</a>
				</td>
				<td>
					<code>{{ list.handle }}</code>
				</td>
				{% for listType in craft.sproutLists.getAllListTypes() %}
					<td>{{ listType.listCount({id: list.id})  }}</td>
				{% endfor %}

				<td colspan="3" class="thin">
					<a class="delete icon" title='{{ "Delete"|t }}'></a>
				</td>
			</tr>
			{% if loop.last %}
				</table>
			{% endif %}

		{% endfor %}

		<div class="buttons">
			<a class="btn submit add icon" href="{{ url('sproutlists/lists/new') }}">{{ "New List"|t
				}}</a>
		</div>

	{% else %}

		<div>

			<h2>{{ "Create your first List"|t }}</h2>

			<div class="buttons">
				<a class="btn submit icon" href="{{ url('sproutlists/lists/new') }}">{{ "Create a list"|t }} &raquo;</a>
			</div>

		</div>
	{% endif %}

{% endset %}

{% set js %}
new Craft.AdminTable({
	tableSelector: '#lists',
	deleteAction: 'sproutLists/lists/deleteList'
});
{% endset %}
{% includeJs js %}