{% extends 'sprout-lists/_layouts/base' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: "Subscribers"|t, url: url('sproutlists/subscribers') }
] %}

{% set title = subscriber is not null ? 'Edit Subscriber'|t : 'New Subscriber'|t %}

{% set selectedTab    = 'lists' %}
{% set subscriberId = subscriber is not null ? subscriber.id : null  %}
{% set fullPageForm = true %}

{% set saveShortcutRedirect = subscriber is not null ? 'sproutlists/subscribers/edit/' ~ subscriberId : '' %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}">

            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li><a class="formsubmit"
                           data-redirect="{{ "sprout-lists/subscribers/edit/{id}"|hash  }}">
                            {{ "Save and continue editing"|t }}</a>
                    </li>
                    <li><a class="formsubmit"
                           data-redirect="{{ "sprout-lists/subscribers/new"|hash }}">
                            {{ "Save and add another"|t }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="grid first" data-max-cols="3">
        <div class="item" data-position="left" data-min-colspan="2"
             data-max-colspan="3">
            <div class="pane">

                <input type="hidden" id="action" name="action"
                       value="sprout-lists/subscribers/save-subscriber">
                {{ redirectInput("sprout-lists/subscribers") }}

                {% if subscriber is not null %}
                    <input type="hidden" name="subscriberId"
                           value="{{ subscriberId }}">
                {% endif %}

                <input type="hidden" name="type"
                       value="barrelstrength\sproutlists\integrations\sproutlists\SubscriberListType">

                <section id="default-fields">

                    {{ forms.textField({
                        label: "Email"|t,
                        name: 'email',
                        id: 'email',
                        required: true,
                        autofocus: true,
                        value: subscriber is not null ? subscriber.email : null,
                        errors: subscriber is not null and subscriber.hasErrors('email') ? subscriber.getErrors('email') : null
                    }) }}

                    {{ forms.textField({
                        label: "First Name"|t,
                        name: 'firstName',
                        id: 'firstName',
                        value: subscriber is not null ? subscriber.firstName : null,
                        errors: subscriber is not null and subscriber.hasErrors('firstName') ? subscriber.getErrors('firstName') : null
                    }) }}

                    {{ forms.textField({
                        label: "Last Name"|t,
                        name: 'lastName',
                        id: 'lastName',
                        value: subscriber is not null ? subscriber.lastName : null,
                        errors: subscriber is not null and subscriber.hasErrors('lastName') ? subscriber.getErrors('lastName') : null
                    }) }}

                </section>

            </div>
        </div>

        <div class="item" data-position="right" data-colspan="1">
            <div class="pane meta">

                <div class="field">
                    <div class="heading">
                        <label>{{ "Lists"|t }}</label>
                    </div>
                    <div class="input">

                        {% if listTypes|length %}

                            {% for listType in listTypes %}
                                {{ listType.getSubscriberListsHtml(subscriberId) }}
                            {% endfor %}

                        {% else %}

                            {{ "Add a <a href='{newListUrl}'>Subscriber List</a>."|t({
                                newListUrl: cpUrl('sproutlists/lists/new')
                            })|raw }}

                        {% endif %}

                    </div>
                </div>

                <div class="field">
                    <div class="heading">&nbsp;</div>
                    <div class="input">
                        {% if subscriber is not null %}
                            {% set statusInput %}
                                <div class="right">
                                    <input
                                            type="button"
                                            class="btn small formsubmit"
                                            data-action="sprout-lists/subscribers/delete-subscriber"
                                            data-confirm="{{ 'Are you sure you want to delete this subscriber?'|t }}"
                                            data-redirect="{{ "sprout-lists/subscribers"|hash }}"
                                            value="{{ 'Delete'|t }}">
                                </div>
                            {% endset %}

                            {{ forms.field({
                                label: '&nbsp;'
                            }, statusInput) }}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
