{% extends "sprout-lists/_layouts/elementindex" %}

{% set title = "Subscribers"|t('sprout-lists') %}
{% set elementType = 'barrelstrength\\sproutlists\\elements\\Subscriber' %}

{% block actionButton %}
    <div class="buttons">
        <a class="btn submit add icon"
            href="{{ url('sprout-lists/subscribers/new') }}">{{ "Add Subscriber"|t('sprout-lists') }}</a>
    </div>
{% endblock %}