{% extends "sprout-lists/_layouts/elementindex" %}

{% set title = "Lists"|t('sprout-lists') %}
{% set elementType = 'barrelstrength\\sproutlists\\elements\\ListElement' %}

{% block actionButton %}
    <div class="buttons">
        <a class="btn submit add icon"
            href="{{ cpUrl('sprout-lists/lists/new') }}">{{ "New Subscriber List"|t('sprout-lists') }}</a>
    </div>
{% endblock %}